<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Music Groups</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <h1>Music Groups</h1>


    <div th:if="${isAdmin}">
        <a href="/musicgroups/add" class="button">Add Music Group</a>
    </div>


    <div th:if="${!isAdmin}" class="warning-message">
        <p style="color: #b61d1d;">Note: Edit Access Restricted: Please Log In as Admin to Make Changes.</p>
    </div>


    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Group Name</th>
            <th>Genre</th>
            <th>Year of establishment</th>
            <th th:if="${isAdmin}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="musicgroup : ${musicgroups}">
            <td th:text="${musicgroup.id}"></td>
            <td th:text="${musicgroup.groupName}"></td>
            <td th:text="${musicgroup.genre.genreName}"></td>
            <td th:text="${musicgroup.yearofEstablished}"></td>
            <td th:if="${isAdmin}" class="actions">

                <a th:href="@{/musicgroups/edit/{id}(id=${musicgroup.id})}" class="button edit">Edit</a>

                <a th:href="@{/musicgroups/delete/{id}(id=${musicgroup.id})}" class="button delete">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>


    <a href="/home" class="button back">Back to Home</a>
</div>
</body>
</html>
